services:
  web:
    build: .
    command: python manage.py runserver 0.0.0:8500
    volumes:
      - .:/app
    ports:
      - "8500:8500"
    depends_on:
      - db
    env_file:
      - .env
  
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_PORT=${DATABASE_PORT}

volumes:
  postgres_data: